
<div>
  <ul>
    <li><a href="https://www.bio-rad.com/en-us/about/about-us">About Bio-Rad</a></li>
    <li><a href="https://www.bio-rad.com/en-us/about/sustainability">Sustainability</a></li>
    <li><a href="https://careers.bio-rad.com/homepage">Careers</a></li>
    <li><a href="https://investors.bio-rad.com/">Investor Relations</a></li>
    <li><a href="https://www.bio-rad.com/help-center">Help Center</a></li>
  </ul>
</div>
<div>
  <p><strong>© 2026 Bio-Rad Laboratories, Inc.</strong></p>
</div>
