
<div>
  <p><a href="/"><picture><source type="image/svg+xml" srcset="https://www.bio-rad.com/sites/default/files/2023-02/bio-rad-logo.svg" media="(min-width: 600px)"><img src="https://www.bio-rad.com/sites/default/files/2023-02/bio-rad-logo.svg" alt="Bio-Rad"></picture></a> Bio-Rad</p>
</div>
<div>
  <ul>
    <li><p><a href="/en-us/s">Specialties</a></p></li>
    <li><p><a href="/en-us/a">Applications</a></p></li>
    <li><p><a href="/en-us/p">Products</a></p></li>
    <li><p><a href="/en-us/e">Services</a></p></li>
    <li><p><a href="/en-us/r">Resources</a></p></li>
    <li><p><a href="/en-us/nws">News &amp; Events</a></p></li>
  </ul>
</div>
<div>
  <ul>
    <li><a href="/tools/widgets/toggle">Menu</a></li>
  </ul>
</div>
